body {
    background-color: #181818;
    margin:0;
    }

#ImageBarre{
    align-items:left;
    width: 100%;
    }

#video{
    width:60.5%;
    margin-left: 6.2%;
    margin-right: auto;
    margin-top: 1.27%;
    }

#ImageLecteur{width:100%;}

#infos{
    margin-top: 1.8%;
    width: auto;
    align-items: left;
    width: 100%;}

#description{
    color:#fafafa;
    width: 65%;
    margin-left: 6.7%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9vw;
    line-height: 140%;}

#hautCommentaires{
    width: 100%;
    margin-top: 2%;}

#commentaires{
    color:aliceblue;
    margin-top: 2.5%;
    border-color: aliceblue;
    width: 100%;}

#photo{
    vertical-align: top;
    width: 77%;}

#pdp{width:5%;}

#pseudo{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:0.85vw
}

#date{
    margin-left: 0.5%;
    color: #8b8b8b;
    font-family: 'Roboto', sans-serif;
    font-size: 0.80vw;
}

#contenuCom{
    font-family: 'Roboto',sans-serif;
    line-height: 100%;
    font-weight: 400;
    padding-top:0.7%;
    padding-bottom: 0.8%;
    font-size: 0.9vw;
}

#likesCom{
    width: 64%;
}



#afficherRep{
    color:#3ea6ff;
    font-family: 'Roboto', sans-serif;
    line-height: 100%;
    font-weight: 500;
    font-size: 0.9vw;
    letter-spacing: 0.04vw;
    padding-top: -1%;
    
}

